.card-address{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 2rem;
}

.form-address{
    display: flex !important;
    flex-direction: column;
    margin: 0 5rem;
    border-radius: 30px;
    border: 2px solid;
    padding: 1rem 1rem;
}

.form-address.checkbox-inline{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tag-select{
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    text-align: start;
    border: 1px solid black;
    background-color: transparent;
}

h6{
    font-weight: 300;
  
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    
}

label.checkbox-inline{
    display: flex;
    margin-top: 1rem;
}

textarea{
    border-radius: 5px
}

.btn-arrow{
    background-color: transparent;
    border: 1px solid transparent;
    float: right;

}

.arrow{
    width: 1rem;
    margin-bottom: 0;
    float: right;
    margin-top: 0.2rem;
}


body.modal-open{
   font-weight: 300; 
}

hr{
    margin:0;
}

.table.td{
    padding:  0.5rem;
    
}