h1{
    font-size: 2rem;
}

.select-info{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
}

.form-select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select-militaryStatus{
    display: flex;
    flex-direction: column;

}

.collapse-show{
    display: flex;
    margin-left: 11rem;
    margin-right: 50rem;
}
