

.form-selectjob{
    width: 50%;
}

label{
    font-size: 1.5rem;
}

span{
    color: red;
}

.form-select{
    display: flex;
    flex-direction: column;
    align-items: center !important;
}



.btn-submit{
    background-color: #F7C40F;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.btn-resubmit{
    background-color: #1B1B26;
    color: #FFFFFF;
    padding: 0.5rem ;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
}



.btn-center{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.col{
    padding: 0;
}

.wrap-information{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5rem;
    align-content: center;
}

.checkbox-infor{
    font-size: 0.5rem;
    margin-right: 2rem;
    margin-left: 3rem;
}

.checkbox-row{
    display: flex;
    flex-direction: column;
}



label{
    margin-top: 2rem;
}

.form-row{
    display: flex;
    flex-wrap: nowrap;
}