@import url(https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700&display=swap);

.login{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Mitr', sans-serif !important;
}

.col{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10rem 10rem;
    
}

img{
    width: 100%;
    margin-bottom: 1rem;
}

.logo-login{
    margin: -50px 0;
}

.card{
    border-radius: 30px;
    padding: 5rem 5rem;
    border: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
   
    border-radius: 1.25rem;
}

.btn{
    border-radius: 1.25rem;
    background-color:  #F3F5F7;
    color: black;
    border-color: white;
    padding: .5rem 4.5rem;
}

.action{
    border-radius: 1.25rem;
    background-color:  #F7C40F;
    color: black;
    border-color: white;
    padding: .5rem 4.5rem;
}

.card-footer{
    background-color: 0; 
    border-top: 0;
}
