@import url(https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700&display=swap);

input{
  border-radius: 0.5rem;
}

.BG{
  width: 100%;
  font-family: 'Mitr', sans-serif;
}

.card-body{
  text-align: center;
}

img{
  margin-bottom: 0 !important ;
}

.logo{
  width: 20rem;
  margin-top: 1.5rem;
}

.modal{
  font-family: 'Mitr', sans-serif;
}